body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.carousel {
  position: relative;
  width: 35vw;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 400%;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.slide {
  flex: 0 0 25%;
  width: 100%;
}

.slide img {
  max-width: 100%;
  height: 90vh;
}

.controls {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: flex-end;
}

.controls label {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb;
  transition: background-color 0.4s ease-in-out;
}

.controls label:hover,
input[type="radio"]:checked + label {
  background-color: #555;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide4:checked ~ .slides {
  transform: translateX(-75%);
}
.slide-text {
  width: 20em;
}
@media (max-width: 1150px) {
  .carousel {
    width: 50vw;
  }
}
@media (max-width: 750px) {
  .carousel {
    width: 95vw;
  }
}
@media (max-width: 420px) {
  .carousel {
    width: 95vw;
  }
  .controls {
    bottom: 60px;
    right: 150px;
  }
  .slide-text {
    text-align: center;
    top: 15px;
  }
}
